body{
color: rgb(180, 42, 42);
background: rgb(236, 236, 236);
margin: 0px;
font-family: "Poller One", sans-serif;
}

header{
  border-bottom: solid 2px rgb(177, 20, 20);
  padding: 20px;
  font-size: 32px;
  color: rgb(185, 49, 49);
}

.chamada{
    background: rgb(255, 190, 190);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
img{
  height: 200px;
}
.categoria-videos{
  display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
  padding-left: 20px;
  padding-right: 20px;

}
