body{
color: rgb(180, 42, 42);
background: rgb(236, 236, 236);
margin: 0px;
}

header{
  border-bottom: solid 2px rgb(177, 20, 20);
  padding: 20px;
  font-size: 32px;
  color: rgb(185, 49, 49);
}

section{
    background: rgb(255, 190, 190);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}